<footer class="footer footer-color-black" data-color="black">
  <div class="container">
    <div class="copyright">
      &copy; 2018&nbsp;
      <%= sanitize t('.copyright') %>
    </div>
  </div>
</footer>
