section.section.section-header.section-header-small
  .parallax.filter.filter-color-black
    .image[style="background-image: url('#{content_for :background}')"]
  .container
    .content
      h1 = content_for :title
      h3.subtitle = content_for :subtitle

