- content_for :nontransparent_nav, true
.wrapper
  section.section.section-contact-form
    .container
      .title-area
        h2 = t('.submit_project')
        .separator.separator-danger ✻
        p.description = t('.description')
      .row
        .col-md-8.col-md-offset-2
         = render 'form'

