<div class="video video--viemo">
  <iframe allowfullscreen="true" frameborder="0" height="100%" mozallowfullscreen="true" src="<%= @project.video_embed_url %>?title=0&byline=0" webkitallowfullscreen="true" width="100%"></iframe>
</div>
