<div class="video video--youtube">
  <iframe allow="encrypted-media" allowfullscreen="true" frameborder="0" height="100%" src="<%= @project.video_embed_url %>?rel=0&showinfo=0" width="100%"></iframe>
</div>
