- keywords [@project.name, '遊戲', *@project.exhibitions.pluck(:name)]
- set_meta_tags og: { image: { _: @project.thumbnail_url(:medium), width: 860, height: 520} }
- set_meta_tags og: { video: @project.video } if @project.video.present?
section.section.section-header-blog
  .parallax.filter.filter-color-black
    .image[style="background-image: url('#{@project.thumbnail_url}')"]
  .container
    .content
      h1 = title @project.name
.section
  .container
    .row
      .col-md-8
        .content-blog
          - if @project.video.present?
            p = render @project.video_type.to_s
          = simple_format  description(@project.description)
      .col-md-3.col-md-offset-1.text-center
        - if @project.result.download_link.present?
          p
            = link_to t('.download'), @project.result.download_link, class: 'btn btn-fill btn-lg btn-danger'
        - if user_signed_in?
          p
            = bookmark_button(@project)
        h3.social-title = t('.school')
        p = @project.school.name
        h3.social-title = t('.department')
        p = @project.department.name
        h3.social-title = t('.exhibitions')
        = render(partial: 'exhibition', collection: @project.exhibitions) || content_tag(:p, t('.none'))
        h3.social-title = t('.platform')
        - @project.result.platform.each do |platform|
          span.label.label-fill.label-danger = t("game.platform.#{platform}")
          | &nbsp;
        h3.social-title = t('.genre')
        p = t("game.genre.#{@project.result.genre}")
        h3.social-title = t('.links')
        .social-buttons-blog-posts
          = link_to escape_once(@project.website), class: 'btn btn-social btn-simple btn-padding' do
            i.fa.fa-home
        p
          .fb-share-button[data-href="#{original_url}" data-layout="button_count"]
          | &nbsp;
          .fb-like[data-href="#{original_url}" data-layout="button_count" data-action="like" data-show-faces="true"]
