#comment-form.section
  .container
    .contact-form
      - if user_signed_in?
        = bootstrap_form_for([@post, @comment], remote: true) do |f|
          - if flash[:comment_errors].present?
            .row
              .col-md-8
                - flash[:comment_errors].each do |key, value|
                  .alert.alert-danger #{t("activerecord.attributes.comment.#{key}")}#{value.first}
          .row
            .col-md-8
              = f.text_area :content, rows: 8, placeholder: t('.leave_your_comment'), hide_label: true
              = f.submit t('.comment'), class: 'btn btn-danger btn-fill pull-right'
      - else
        .row
          .col-md-8
            = sanitize t('.signin_before_comment', signin: link_to(t('shared.nav.signin'), new_user_session_path))
