- content_for :background, image_path('header-12.jpg')
- content_for :title, t('.page_name')
- title t('.page_name')
- content_for :subtitle, t('.description')

= render 'shared/page_header'
.section.section-blog-horizontal
  .container
    = render(partial: 'post', collection: @posts) || render('empty_list')
    .row
      .col-md-12.text-center
        = paginate @posts

