- set_meta_tags og: { image: { _: @post.thumbnail_url(:medium), width: 860, height: 520} }
section.section.section-header-blog
  .parallax.filter.filter-color-black
    .image[style="background-image: url('#{@post.thumbnail_url}')"]
  .container
    .content
      h1 = title @post.title
.section
  .container
    .row
      .col-md-8
        .content-blog
          = simple_format description(@post.content)
      .col-md-3.col-md-offset-1.text-center
        - if current_user == @post.user
          p
            = link_to t('.edit'), edit_experience_path(@post), class: 'btn btn-fill btn-lg btn-danger'
        h3.social-title = t('.author')
        .author
          .avatar.avatar-danger
            = image_tag @post.user.avatar_url
        .description.text-center
          h3.big-text = @post.user.name
          p.small-text = @post.user.team
        p
          .fb-share-button[data-href="#{original_url}" data-layout="button_count"]
          | &nbsp;
          .fb-like[data-href="#{original_url}" data-layout="button_count" data-action="like" data-show-faces="true"]
.section
  .container
    h3 = t('.comments')
    .row
      .col-md-8
        .media-area
          = render @comments
        = paginate @comments
  = render 'comment_form'
