<% content_for :title, t('.title') %>
<% description t('.description') %>
<% title t('.title') %>

 <%= render 'shared/page_header' %>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="title-area">
        <p class="description"><%= t('.description') %>
        </p>
      </div>
    </div>
  </div>
</div>
